-
var buttonShape = ['xsmall', 'small', 'medium', 'large', 'xlarge']
var iconShapeMap = {
    xsmall: 20,
    small: 20,
    medium: 20,
    large: 20,
    xlarge: 24
}

.button__wrapper
    each shape in buttonShape
        button.button(
            class=`button__${shape}`
        ) #{shape} CTA
    //- whitout repeat here

    each shape in buttonShape
        button.button.button__side--left(
            class=`button__${shape}`
        )
            span #{shape} CTA
            img(src=`${baseUrl}asset/image/Disc.svg` width="20")

    each shape in buttonShape
        button.button.button__side--right(
            class=`button__${shape}`
        )
            span #{shape} CTA
            img(src=`${baseUrl}asset/image/Disc.svg` width="20")

    each shape in buttonShape
        button.button.button__side--left(
            class=`button__${shape}`
        )
            span #{shape} CTA
            img(src=`${baseUrl}asset/image/Dot.svg` width="10")

    each shape in buttonShape
        button.button(
            icon="Disc"
            class=`button__${shape}`
        )
            img(
                src=`${baseUrl}asset/image/Disc.svg`
                width=`${iconShapeMap[shape]}`
            )
